* { font-family:"Lucida Console", Tahoma, Arial; }

#content{background-color:#fff;width:75%;padding:50px 40px;margin:0 auto;border-left:10px solid #64F3D5;border-right:1px solid #ddd;-moz-box-shadow:0 0 16px #aaa}

.head{font-family:Helvetica,Arial,Verdana;font-weight:700;font-size:12px;letter-spacing:3px;color:#888;border-bottom:2px solid #64F3D5;padding-bottom:10px;margin-bottom:10px}

#content h1{color:#64F3D5;font-weight:400;font-size:2em;text-shadow:1px 1px 1px #aaa}

.subline{font-size:1.2em;margin:20px 0;color:#999}

.meta{font-style:italic;color:#999}

.article p{margin:20px 0;line-height:26px}

#liens{top:0;right:0;border-left:1px solid #64F3D5;border-bottom:1px solid #64F3D5}

#liens img{width:30px;border-radius:10px}